<div class="container vh-100">
    <div class=" d-flex justify-content-center  ">
        <div class="col-md-12 mt-0">
            <div class="d-flex justify-content-center mt-4 mb-4">
                <h2>ADD NEW SERVICE</h2>
            </div>
            <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class=" pl-5 pr-5 ml-4 mr-4">
                <input type="hidden" formControlName="id">
                <div class="form-group">
                    <label for="code">Code:</label>
                    <input type="text" class="form-control" id="code" placeholder="Enter Code" formControlName="code"
                        required>
                    <p *ngIf="serviceForm.get('code').errors?.required && serviceForm.controls.code.touched"
                        class="text-danger">Please enter code</p>
                    <p *ngIf="serviceForm.get('code').errors?.pattern && serviceForm.controls.code.touched"
                        class="text-danger">Employee code must be NV-XXXX</p>
                </div>

                <div class="form-group">
                    <label for="pwd">Name:</label>
                    <input type="text" class="form-control" id="pwd" formControlName="name">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="area">Area:</label>
                    <input type="text" class="form-control" id="area" formControlName="area">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="floor">Floor:</label>
                    <input type="text" class="form-control" id="floor" formControlName="floor">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="max">MaxPerson:</label>
                    <input type="text" class="form-control" id="max" formControlName="maxPerson">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" class="form-control" id="price" formControlName="price">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="type">Service Type</label>
                    <select formControlName="serviceType" class="custom-select custom-select mb-3">
                        <option selected>--select--</option>
                        <option value="Villa">Villa</option>
                        <option value="Room">Room</option>
                        <option value="house">House</option>
                    </select>

                </div>
                <div class="d-flex justify-content-center mt-2 mb-3">
                    <button type="submit" class="btn btn-primary mr-3 pr-3 pl-3">Update</button>
                    <button mat-dialog-close="cancel" type="button" class="btn btn-danger pr-3 pl-3 ">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>