<div class="container vh-100">
    <div class=" d-flex justify-content-center  ">
        <div class="col-md-12 mt-0">
            <div class="d-flex justify-content-center mt-4 mb-4">
                <h2>ADD NEW EMPLOYEE</h2>
            </div>
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class=" pl-5 pr-5 ml-4 mr-4 ">
                <div class="form-group">
                    <label for="code">Code:</label>
                    <input type="text" class="form-control" id="code" placeholder="Enter Code" formControlName="code"
                        required>
                    <p *ngIf="employeeForm.get('code').errors?.required && employeeForm.controls.code.touched"
                        class="text-danger">Please enter code</p>
                    <p *ngIf="employeeForm.get('code').errors?.pattern && employeeForm.controls.code.touched"
                        class="text-danger">Employee code must be NV-XXXX</p>
                </div>
                <div class="form-group">
                    <label for="pwd">Name:</label>
                    <input type="text" class="form-control" id="pwd" placeholder="Enter Name" formControlName="name"
                        required>
                    <p *ngIf="employeeForm.controls.name.errors?.required && employeeForm.controls.name.touched"
                        class="text-danger">Please enter a name</p>
                    <p *ngIf="employeeForm.controls.name.errors?.minlength && employeeForm.controls.name.touched"
                        class="text-danger">The name is too short</p>
                    <p *ngIf="employeeForm.controls.name.errors?.maxlength && employeeForm.controls.name.touched"
                        class="text-danger">The name is too Long</p>
                </div>
                <div class="form-group">
                    <label for="idCard">ID Card</label>
                    <input type="text" class="form-control" id="idCard" placeholder="Enter ID Card"
                        formControlName="idCard" required>
                    <p *ngIf="employeeForm.controls.idCard.errors?.required && employeeForm.controls.idCard.touched"
                        class="text-danger">Please enter ID Card</p>
                    <p *ngIf="employeeForm.controls.idCard.errors?.pattern && employeeForm.controls.idCard.touched"
                        class="text-danger">ID Card format must be 9 number!</p>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number"
                        formControlName="phone" required>
                    <p *ngIf="employeeForm.controls.phone.errors?.required && employeeForm.controls.phone.touched"
                        class="text-danger">Please enter Phone Number</p>
                    <p *ngIf="employeeForm.controls.phone.errors?.pattern && employeeForm.controls.phone.touched"
                        class="text-danger">Phone number is wrong format</p>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter Email" formControlName="email"
                        required>
                    <p *ngIf="employeeForm.controls.email.errors?.required && employeeForm.controls.email.touched"
                        class="text-danger">Please enter email</p>
                    <p *ngIf="employeeForm.controls.email.errors?.email && employeeForm.controls.email.touched"
                        class="text-danger">Email is wrong format</p>
                </div>

                <div class="form-group">
                    <label for="birthday">Birthday:</label>
                    <div>
                        <mat-form-field>
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="birthday">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" id="address" placeholder="Enter Address"
                        formControlName="address" required>
                    <p *ngIf="employeeForm.controls.address.errors?.required && employeeForm.controls.address.touched"
                        class="text-danger">Please enter Address </p>
                </div>
                <div class="form-group">
                    <label for="salary">Salary:</label>
                    <input type="text" class="form-control" id="address" formControlName="salary" required>
                    <p *ngIf="employeeForm.controls.salary.errors?.required && employeeForm.controls.salary.touched"
                        class="text-danger">Please enter Salary</p>
                    <p *ngIf="employeeForm.controls.salary.errors?.min && employeeForm.controls.salary.touched"
                        class="text-danger">Salary must be greater than 0$</p>
                </div>
                <div class="form-group">
                    <label for="type">Education Background</label>
                    <select formControlName="edu_bg" class="custom-select custom-select mb-3">
                        <option value="College">College</option>
                        <option value="Bachelor">Bachelor</option>
                        <option value="University">University</option>
                        <option value="postgraduate ">Postgraduate </option>
                    </select>
                    <p *ngIf="employeeForm.controls.edu_bg.errors?.required && employeeForm.controls.edu_bg.touched"
                        class="text-danger">Please Select Education Background</p>
                </div>
                <div class="form-group">
                    <label for="type">Position</label>
                    <select formControlName="position" class="custom-select custom-select mb-3">
                        <option selected>--select Position employee--</option>
                        <option value="Receptionist">Receptionist</option>
                        <option value="Reservation">Reservation</option>
                        <option value="HR Manager">HR Manager</option>
                        <option value="Marketing ">Marketing </option>
                        <option value="General Director">General Director</option>
                    </select>
                    <p *ngIf="employeeForm.controls.position.errors?.required && employeeForm.controls.position.touched"
                        class="text-danger">Please Select position</p>
                </div>
                <div class="d-flex justify-content-center mt-2 mb-3">
                    <button type="submit" class="btn btn-primary mr-3 pr-3 pl-3">Create</button>
                    <button mat-dialog-close="cancel" type="button" class="btn btn-danger pr-3 pl-3 ">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>