<div class="container vh-100">
    <div class=" d-flex justify-content-center  ">
        <div class="col-md-6 mt-0" style="background-color: gainsboro;">
            <div class="d-flex justify-content-center mt-4 mb-4">
                <h2>ADD NEW ATTACH SERVICE</h2>
            </div>
            <form [formGroup] class="was-validated pl-5 pr-5 ml-4 mr-4">

                <div class="form-group">
                    <label for="pwd">Name:</label>
                    <input type="text" class="form-control" id="pwd" name="pswd" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" class="form-control" id="price" name="uname" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>