<div class="container m-0 mw-100 vh-100">
    <div class="mt-5">
        <div class="d-flex">
            <div class="mr-auto">
                <h2>List Customer</h2>
            </div>
            <div class=" d-flex align-items-center col-md-5">
                <input [(ngModel)]="term" class="form-control " id="myInput" type="text" placeholder="Search..">
                <button class="btn ml-3 border-success">Search</button>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <button (click)="openDialog()" class="btn btn-success">Add New
                Customer</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>ID Card</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th>Customer Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customerList|filter:term| paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{ customer.code}}</td>
                    <td>{{ customer.name}}</td>
                    <td>{{ customer.idCard}}</td>
                    <td>{{ customer.phoneNumber}}</td>
                    <td>{{ customer.email}}</td>
                    <td>{{ customer.birthday|date:'dd/MM/yyyy'}}</td>
                    <td>{{ customer.address}}</td>
                    <td>{{ customer.customerType}}</td>
                    <td class="d-flex ">
                        <button (click)="openEdit(customer)" type="button" class="btn btn-warning mr-3">Edit</button>
                        <button (click)="openDelete(customer)" type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>