<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div>
    <a th:href="@{/product}">
        Back to product list
    </a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr class="table-success">
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="products : ${product}">
        <td th:text="${products.name}"></td>
        <td th:text="${products.price}"></td>
        <td th:text="${products.description}"></td>
        <td th:text="${products.manufacturer}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>