<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/customers/update::update">
   <title>Customer</title>
</head>
<body>


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3> Wellcome </h3>
            <h3 th:text="${customers.name}"></h3>

        </div>
        <form >
            <div class="col-md-9 register-right">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading text-primary">INFORMATION CUSTOMER</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <h6 >Code</h6>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Code *" th:field="*{code}" readonly/>
                                </div>
                                <h6  >Name</h6>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name *" th:field="*{name}" readonly/>
                                </div>
                                <h6>ID Card</h6>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="ID Card*" th:field="*{idCard}" readonly />
                                </div>
                                <div class="form-group">
                                    <h6>Phone Number</h6>
                                    <input type="text" class="form-control" placeholder="Phone Number " th:field="*{phoneNumber}" readonly/>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>Email</h6>
                                    <input type="text" class="form-control"  placeholder="Email *" th:field="*{email}" readonly/>
                                </div>
                                <div class="form-group">
                                    <h6>Birthday</h6>
                                    <input type="date" class="form-control" placeholder="Birthday *" th:field="*{birthday}" readonly/>
                                </div>
                                <div class="form-group">
                                    <h6>Address</h6>
                                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                                           placeholder="Address *" th:field="*{address}"  readonly/>
                                </div>
                                <h6>Customer Type</h6>
                                <select  class="selectpicker mdb-select md-form colorful-select dropdown-primary" disabled>
                                    <option type="text" class="form-control"  value="Member" >Member</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <a type="submit" class="btnRegister" href="/show-all/1">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>